* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: url(../countDownTimer/christmas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
    width: 500px;
}

.container{
    height: auto;
    border: 1px solid black;
    margin-top: 10rem;
    background-color: black;
    padding: 3rem;
}
.countdown-title{
    font-size: 1.2rem
}
.timer{
     display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}
.reading{
    font-size: .8em;
}
