* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: blueviolet;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 500px;
}

.countdown-title{
    font-size: 1.2rem
}
.timer{
     display: flex;
}
.reading{
    font-size: .8em;
}
